CODIGO PARA TRANSFORMAR LOS VALORES DE LAS VARIABLES CATEGORICAS A NUMERICAS, SEGÚN MANUAL DE OTORGAMIENTO DE CREDITO

In [54]:
#Importamos las librerias
import pandas as pd
#cargamos el archivo que contiene los datos, en este caso un archivo de excel
#cargar los datos del archivo de excel en el dataframe
archivo_excel = "/content/CREDITO JULIO A SEPT.xlsx"
df = pd.read_excel(archivo_excel)

In [55]:
#Revisamos el nombre de las columnas con las que cuenta el dataframe
df.columns

Index(['N°', 'Id', 'NUMERO IDENTIFICACION', 'IDENTIFICACION',
       'NOMBRES APELLIDOS', 'FECHA', 'EDAD', 'FECHA NACIMIENTO',
       'NIVEL EDUCATIVO', 'ESTRATO', 'OCUPACION', 'DEPARTAMENTO NACIMIENTO',
       'CIUDAD_RESIDENCIA', 'PROFESION', 'ESTADO CIVIL', 'TIPO VIVIENDA',
       'TIPO CONTRATO', 'INICIO ACTIVIDAD ECONOMICA', 'ANTIGUEDAD',
       'PERSONAS A CARGO', 'NOMBRE_EMPRESA', 'CANTIDAD_PRODUCTOS_CIFN',
       'VALOR_INICIAL_TOTAL', 'SALDO_TOTAL_CIFIN', 'CUOTA_TOTAL_CIFIN',
       'CANTIDAD_TDC_CIFIN', 'CUPO_TDC_MILES', 'SALDO_TDC_MILES',
       'CUOTA_TDC_MILES', 'CLEAR_SCORE_EXPERIENCIA', 'CLEAR_SCORE',
       'RESULTADO_PRESICION', 'SALDO_CODEUDOR_CIFIN', 'VALOR_INICIAL_CODEUROR',
       'VALOR_CUOTA_CODEUDOR', 'TIPO_CREDITO', 'LINEA_CREDITO_SOLICITUD',
       'COMPRA CARTERA', 'SALDO_INICIAL_COMPRADA', 'MONTO COMPRA',
       'CUOTA_MES_COMPRADA', 'MONTO_SOLICITADO', 'CUOTA_SOLICITUD',
       'DESTINACION_CREDITO', 'PLAZO_SOLICITADO_MESES', 'TIPO_GARANTIA',
       'VALOR_GARANTIA', 'COBERTURA_GARANTIA_%', 'VEHICULOS', 'INMUEBLES',
       'OTROS ACTIVOS', 'TOTAL ACTIVO', 'OBLIGACIONES FINANCIERAS',
       'OTROS PASIVOS', 'TOTAL PASIVO', 'PATRIMONIO', 'INGRESOS ACT ECONOMICA',
       'INGRESO_COMISIONES', 'OTROS INGRESOS', 'TOTAL INGRESOS', 'PAGO DEUDAS',
       'ARRENDAMIENTOS', 'OTROS GASTOS', 'TOTAL GASTOS', 'DESCUENTOS NOMINA',
       'FECHA VINCULACION UNIMOS', 'SALDO_APORTES', 'SALDO_AH_PERMANENTE',
       'SALDO_AH_CONTRACTUAL', 'SALDO_CDAT', 'SALDO_CUPO_ROTATIVO',
       'SALDO_CREDITO_UNIMOS', 'CANTIDAD_PROD_MORA_CIFN', 'VALOR_MORA',
       'SALDO_MORA_CIFIN', 'CUOTA_MORA_CIFIN', 'CANT_MORA_CODEUDOR',
       'SALDO_MORA_CODEUDOR', 'CUOTA_MORA_CODEUDOR', 'CRED_DES_DUPL',
       'VALOR_APORTES_VENCIDOS', 'ALIVIO_FINANCIERO', 'MORA_VIGENTE',
       'SOLICITANTE', 'TIPO RIESGO FINAL', 'NIT',
       'Perfil de Riesgo  Score 01 de Agosto ', 'APROBADO-DESEMBOLSADO',
       'Valor Desembolsado', 'NEGADO'],
      dtype='object')

In [56]:
#codigo para no truncar la salida visual, debido a que se tienen muchas columnas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [57]:
# Identificar valores nulos en cada columna
valores_nulos_por_columna = df.isna().sum()

# Ordenar el conteo de valores nulos de mayor a menor
valores_nulos_ordenados = valores_nulos_por_columna.sort_values(ascending=False)

# Mostrar el resultado
print(valores_nulos_ordenados)

DESTINACION_CREDITO                      17
PROFESION                                 7
CANTIDAD_TDC_CIFIN                        2
INICIO ACTIVIDAD ECONOMICA                1
NIT                                       1
CANTIDAD_PROD_MORA_CIFN                   1
VALOR_INICIAL_CODEUROR                    1
INGRESO_COMISIONES                        1
NOMBRE_EMPRESA                            1
CUOTA_TDC_MILES                           1
ANTIGUEDAD                                1
N°                                        0
SALDO_APORTES                             0
FECHA VINCULACION UNIMOS                  0
DESCUENTOS NOMINA                         0
TOTAL GASTOS                              0
PAGO DEUDAS                               0
OTROS GASTOS                              0
ARRENDAMIENTOS                            0
TOTAL INGRESOS                            0
OTROS INGRESOS                            0
INGRESOS ACT ECONOMICA                    0
PATRIMONIO                                0
TOTAL PASIVO                              0
OTROS PASIVOS                             0
OBLIGACIONES FINANCIERAS                  0
TOTAL ACTIVO                              0
SALDO_AH_PERMANENTE                       0
SALDO_CUPO_ROTATIVO                       0
SALDO_AH_CONTRACTUAL                      0
SALDO_CDAT                                0
Valor Desembolsado                        0
APROBADO-DESEMBOLSADO                     0
Perfil de Riesgo  Score 01 de Agosto      0
TIPO RIESGO FINAL                         0
SOLICITANTE                               0
MORA_VIGENTE                              0
ALIVIO_FINANCIERO                         0
VALOR_APORTES_VENCIDOS                    0
CRED_DES_DUPL                             0
CUOTA_MORA_CODEUDOR                       0
SALDO_MORA_CODEUDOR                       0
CANT_MORA_CODEUDOR                        0
CUOTA_MORA_CIFIN                          0
SALDO_MORA_CIFIN                          0
VALOR_MORA                                0
SALDO_CREDITO_UNIMOS                      0
INMUEBLES                                 0
OTROS ACTIVOS                             0
TIPO_GARANTIA                             0
VEHICULOS                                 0
COBERTURA_GARANTIA_%                      0
VALOR_INICIAL_TOTAL                       0
CANTIDAD_PRODUCTOS_CIFN                   0
PERSONAS A CARGO                          0
TIPO CONTRATO                             0
TIPO VIVIENDA                             0
ESTADO CIVIL                              0
CIUDAD_RESIDENCIA                         0
DEPARTAMENTO NACIMIENTO                   0
OCUPACION                                 0
ESTRATO                                   0
NIVEL EDUCATIVO                           0
FECHA NACIMIENTO                          0
EDAD                                      0
FECHA                                     0
NOMBRES APELLIDOS                         0
IDENTIFICACION                            0
NUMERO IDENTIFICACION                     0
SALDO_TOTAL_CIFIN                         0
CUOTA_TOTAL_CIFIN                         0
CUPO_TDC_MILES                            0
SALDO_INICIAL_COMPRADA                    0
VALOR_GARANTIA                            0
Id                                        0
PLAZO_SOLICITADO_MESES                    0
CUOTA_SOLICITUD                           0
MONTO_SOLICITADO                          0
CUOTA_MES_COMPRADA                        0
MONTO COMPRA                              0
COMPRA CARTERA                            0
SALDO_TDC_MILES                           0
LINEA_CREDITO_SOLICITUD                   0
TIPO_CREDITO                              0
VALOR_CUOTA_CODEUDOR                      0
SALDO_CODEUDOR_CIFIN                      0
RESULTADO_PRESICION                       0
CLEAR_SCORE                               0
CLEAR_SCORE_EXPERIENCIA                   0
NEGADO                                    0
dtype: int64

VARIABLES EVALUADAS EN EL MODELO DE OTORGAMIENTO DE CREDITO

A partir de aqui se revisan las variables segun manual y luego se van imputando los valores de acuerdo al manual.

In [58]:
#variable sociodemografica Nivel Educativo
df["NIVEL EDUCATIVO"].value_counts()

Técnico          455
Universitario    428
Postgrado        225
Bachillerato     195
Tecnológico       78
Primaria          14
POstgrado          2
Ninguno            1
Name: NIVEL EDUCATIVO, dtype: int64

In [59]:
# vamos a reemplazar valores en nuestras columnas por el nivel de riesgo segun manual
# Define un diccionario de mapeo de reemplazo
mapeo_reemplazo = {
"Técnico": 2,
"Universitario": 4 ,
"Postgrado":    1 ,
"Bachillerato":3,
"Tecnológico":5,
"Primaria": 4,
"POstgrado":1,
"Ninguno":5
}

# Utiliza el método replace con el diccionario de mapeo
df["NIVEL EDUCATIVO"] = df["NIVEL EDUCATIVO"].replace(mapeo_reemplazo)

# Ahora, "Debito" se ha reemplazado por "Ventanilla"

In [60]:
#Resultado de la imputacion
df["NIVEL EDUCATIVO"].value_counts()

2    455
4    442
1    227
3    195
5     79
Name: NIVEL EDUCATIVO, dtype: int64

In [61]:
#variable sociodemografica EDAD
df["EDAD"].value_counts()

33    69
28    64
32    62
34    60
35    58
29    57
31    55
30    54
36    51
38    51
41    45
26    44
39    40
40    39
25    39
27    38
37    38
43    37
46    36
42    34
45    33
44    33
24    33
47    31
23    26
50    25
49    25
54    22
53    20
48    19
56    16
51    15
22    15
52    13
55    13
58    12
21    11
60     8
59     8
62     8
64     7
57     5
20     4
61     4
19     4
66     3
70     2
76     2
80     1
68     1
93     1
67     1
65     1
18     1
78     1
73     1
75     1
69     1
Name: EDAD, dtype: int64

In [62]:
#codigo para reemplazar segun la edad y de acuerdo al rango de edad

def imputar_edad(edad):
    if 18 <= edad <= 24:
        return 5
    elif 25 <= edad <= 36:
        return 4
    elif 37 <= edad <= 48:
        return 3
    elif 49 <= edad <= 60:
        return 2
    elif edad >= 61:
        return 1
    else:
        # Retorna el valor original si no cae en ningún rango especificado
        return edad

# Aplicando la función imputar_edad a la columna EDAD
df['EDAD'] = df['EDAD'].apply(imputar_edad)

In [63]:
#resultado de la imputacion
df["EDAD"].value_counts()

4    651
3    436
2    182
5     94
1     35
Name: EDAD, dtype: int64

In [64]:
#variable Tipo de contrato
df["TIPO CONTRATO"].value_counts()

INDEFINIDO                 1084
FIJO                        166
LABOR CONTRATADA             71
PRESTACION DE SERVICIOS      33
INDEPENDIENTE                31
PENSIONADO                   12
TEMPORAL                      1
Name: TIPO CONTRATO, dtype: int64

In [65]:
# vamos a reemplazar valores en nuestras columnas por el nivel de riesgo segun manual
# Define un diccionario de mapeo de reemplazo
mapeo_reemplazo = {
"INDEFINIDO":2,
"FIJO":3,
"LABOR CONTRATADA":5,
"PRESTACION DE SERVICIOS":5,
"INDEPENDIENTE":3,
"PENSIONADO":1,
"TEMPORAL":3,
"CONTRATISTA":4
}

# Utiliza el método replace con el diccionario de mapeo
df["TIPO CONTRATO"] = df["TIPO CONTRATO"].replace(mapeo_reemplazo)

In [66]:
#revisamos el cambio
df["TIPO CONTRATO"].value_counts()

2    1084
3     198
5     104
1      12
Name: TIPO CONTRATO, dtype: int64

In [67]:
#variable tipo de vivienda
df["TIPO VIVIENDA"].value_counts()

FAMILIAR     632
PROPIA       483
ARRENDADA    283
Name: TIPO VIVIENDA, dtype: int64

In [68]:
# vamos a reemplazar valores en nuestras columnas por el nivel de riesgo segun manual
# Define un diccionario de mapeo de reemplazo
mapeo_reemplazo = {
"FAMILIAR":5,
"PROPIA":1,
"ARRENDADA":4,

}

# Utiliza el método replace con el diccionario de mapeo
df["TIPO VIVIENDA"] = df["TIPO VIVIENDA"].replace(mapeo_reemplazo)

In [69]:
#revisamos el cambio
df["TIPO VIVIENDA"].value_counts()

5    632
1    483
4    283
Name: TIPO VIVIENDA, dtype: int64

In [70]:
#variable personas a cargo
df["PERSONAS A CARGO"].value_counts()

0    624
1    486
2    237
3     42
4      6
5      2
6      1
Name: PERSONAS A CARGO, dtype: int64

In [71]:
#cambiamos los valores de la  variable personas a cargo
def imputar_valor(valor):
    if valor == 0:
        return 1
    elif valor in [1, 2]:
        return 2
    elif valor == 3:
        return 3
    elif valor >= 4:
        return 5

# Aplicar la función de imputación a la columna 'personas a cargo'
df['PERSONAS A CARGO'] = df['PERSONAS A CARGO'].apply(imputar_valor)

In [72]:
#revisamos el cambio
df["PERSONAS A CARGO"].value_counts()

2    723
1    624
3     42
5      9
Name: PERSONAS A CARGO, dtype: int64

In [73]:
#variable antiguedad laboral
df["ANTIGUEDAD"].value_counts()

1.0     324
2.0     195
0.0     119
4.0     114
5.0      94
3.0      75
7.0      68
6.0      62
8.0      52
9.0      36
10.0     33
11.0     30
15.0     24
13.0     21
12.0     21
17.0     18
18.0     16
14.0     16
16.0     10
20.0      7
27.0      7
21.0      7
24.0      7
19.0      6
29.0      6
26.0      6
22.0      6
28.0      5
23.0      4
30.0      3
25.0      2
31.0      1
56.0      1
34.0      1
Name: ANTIGUEDAD, dtype: int64

In [74]:
#cambia la varible antiguedad que hace referencia a la antiguedad laboral
import numpy as np

def imputar_antiguedad(valor):
    if pd.isna(valor):  # Revisa si el valor es NaN (valor nulo)
        return 5
    elif valor <1:
        return 5
    elif valor in [1, 2]:
        return 3
    elif valor in [3, 4]:
        return 2
    elif valor >= 5:
        return 1

# Aplicar la función de imputación a la columna 'ANTIGUEDAD'
df['ANTIGUEDAD'] = df['ANTIGUEDAD'].apply(imputar_antiguedad)

In [75]:
#revisamos el resultado de la imputacion
df["ANTIGUEDAD"].value_counts()

1    570
3    519
2    189
5    120
Name: ANTIGUEDAD, dtype: int64

In [76]:
#calcular y luego imputar la antiguedad en UNIMOS
from datetime import datetime

# Convertir la columna 'FECHA VINCULACION UNIMOS' a datetime si no lo es
df['FECHA VINCULACION UNIMOS'] = pd.to_datetime(df['FECHA VINCULACION UNIMOS'])

# Calcular la antigüedad en meses
df['ANTIGUEDAD EN UNIMOS'] = ((datetime(2023, 10, 1) - df['FECHA VINCULACION UNIMOS']).dt.days / 30.44).round()

def imputar_antiguedad(antiguedad):
    if antiguedad < 1:
        return 5
    elif 1 <= antiguedad < 7:
        return 4
    elif 7 <= antiguedad < 13:
        return 3
    elif 13 <= antiguedad < 25:
        return 2
    elif antiguedad >= 25:
        return 1

# Aplicar la función de imputación a la columna 'ANTIGUEDAD EN UNIMOS'
df['ANTIGUEDAD EN UNIMOS'] = df['ANTIGUEDAD EN UNIMOS'].apply(imputar_antiguedad)

In [77]:
#revisamos el resultado de la imputacion
df["ANTIGUEDAD EN UNIMOS"].value_counts()

4    497
1    442
2    260
3    194
5      5
Name: ANTIGUEDAD EN UNIMOS, dtype: int64

In [78]:
#imputamos los valores de la variable RESULTADO_PRECISION
#revisamos que valores contiene la variable
df["RESULTADO_PRESICION"].value_counts()

ACEPTADO     915
NEGADO       460
PENDIENTE     22
Negado         1
Name: RESULTADO_PRESICION, dtype: int64

In [79]:
# Define un diccionario de mapeo de reemplazo
mapeo_reemplazo = {
    "ACEPTADO": 1,
    "NEGADO": 5,
    "PENDIENTE": 3,
}

# Convierte todos los valores de la columna a mayúsculas
df["RESULTADO_PRESICION"] = df["RESULTADO_PRESICION"].str.upper()

# Utiliza el método replace con el diccionario de mapeo
df["RESULTADO_PRESICION"] = df["RESULTADO_PRESICION"].replace(mapeo_reemplazo)

In [80]:
#resultado de la imputacion
df["RESULTADO_PRESICION"].value_counts()

1    915
5    461
3     22
Name: RESULTADO_PRESICION, dtype: int64

In [81]:
#revisamos los valores de la variable tipo de credito
df["TIPO_CREDITO"].value_counts()

LIBRANZA        935
PAGO DIRECTO    463
Name: TIPO_CREDITO, dtype: int64

In [82]:
# Define un diccionario de mapeo de reemplazo
mapeo_reemplazo = {
    "LIBRANZA": 3,
    "PAGO DIRECTO": 2
    }

# Convierte todos los valores de la columna a mayúsculas
df["TIPO_CREDITO"] = df["TIPO_CREDITO"].str.upper()

# Utiliza el método replace con el diccionario de mapeo
df["TIPO_CREDITO"] = df["TIPO_CREDITO"].replace(mapeo_reemplazo)

In [83]:
#resultado de la imputacion
df["TIPO_CREDITO"].value_counts()

3    935
2    463
Name: TIPO_CREDITO, dtype: int64

In [84]:
#revisamos los valores de la variable mora vigente
df["MORA_VIGENTE"].value_counts()

NO    1083
SI     315
Name: MORA_VIGENTE, dtype: int64

In [85]:
# Define un diccionario de mapeo de reemplazo para la columna mora_vigente
mapeo_reemplazo = {
    "SI": 5,#Se deja 5 como valor para representar riesgo alto
    "NO": 1 #se deja cero como valor para representar riesgo bajo
    }

# Convierte todos los valores de la columna a mayúsculas
df["MORA_VIGENTE"] = df["MORA_VIGENTE"].str.upper()

# Utiliza el método replace con el diccionario de mapeo
df["MORA_VIGENTE"] = df["MORA_VIGENTE"].replace(mapeo_reemplazo)

In [86]:
#comprobamos que el cambio haya sido realizado
df["MORA_VIGENTE"].value_counts()

1    1083
5     315
Name: MORA_VIGENTE, dtype: int64

In [87]:
#PLAZO_SOLICITADO_MESES
df["PLAZO_SOLICITADO_MESES"].value_counts()

72     232
36     219
60     207
24     189
48     173
12     132
18      46
6       41
120     28
8       14
10      10
30       9
5        9
15       8
4        8
32       7
3        7
2        6
42       6
84       5
40       4
20       4
28       3
14       3
9        3
16       2
13       2
62       2
22       2
7        2
38       2
1        2
35       2
52       2
29       1
70       1
39       1
90       1
100      1
26       1
46       1
Name: PLAZO_SOLICITADO_MESES, dtype: int64

In [88]:
#Imputamos los valores de la variable plazo solicitado meses

def impute_plazo(val):
    if 0 <= val <= 24:
        return 1
    elif 25 <= val <= 36:
        return 2
    elif 37 <= val <= 48:
        return 3
    elif 49 <= val <= 60:
        return 4
    elif val >= 61:
        return 5

# Aplicando la función de imputación y sobrescribiendo la columna PLAZO_SOLICITADO_MESES
df['PLAZO_SOLICITADO_MESES'] = df['PLAZO_SOLICITADO_MESES'].apply(impute_plazo)

In [89]:
#validando el resultado de la imputacion
df["PLAZO_SOLICITADO_MESES"].value_counts()

1    490
5    270
2    242
4    209
3    187
Name: PLAZO_SOLICITADO_MESES, dtype: int64

In [90]:
#SE CALCULA E IMPUTA LA VARIABLE CAPACIDAD DE PAGO

def calcular_capacidad_de_pago(row):
    # Verificar si TOTAL INGRESOS es cero para evitar división por cero
    if row['TOTAL INGRESOS'] == 0:
        return 5  # o cualquier otro valor que desees imputar en este caso

    resultado = (row['TOTAL INGRESOS'] - (row['CUOTA_TOTAL_CIFIN'] + row['TOTAL GASTOS'] + row['DESCUENTOS NOMINA'])) / row['TOTAL INGRESOS']

    # Imputación según los rangos especificados y manejo de valores negativos
    if resultado < 0 or 0 <= resultado < 0.10:
        return 5
    elif 0.10 <= resultado < 0.30:
        return 4
    elif 0.30 <= resultado < 0.40:
        return 3
    elif 0.40 <= resultado < 0.50:
        return 2
    elif resultado >= 0.50:
        return 1

# Aplicando la función y creando la columna CAPACIDAD DE PAGO
df['CAPACIDAD DE PAGO'] = df.apply(calcular_capacidad_de_pago, axis=1)

In [91]:
df["CAPACIDAD DE PAGO"].value_counts()

5    647
4    329
3    152
2    150
1    120
Name: CAPACIDAD DE PAGO, dtype: int64

In [92]:
#CALCULANDO LA CAPACIDAD DE DESCUENTO

def calcular_capacidad_de_descuento(row):
    # Verificar si TOTAL INGRESOS es cero para evitar división por cero
    if row['TOTAL INGRESOS'] == 0:
        return 5  # imputar 5 en caso de división por cero

    resultado = ((row['TOTAL INGRESOS'] * 0.5) - row['DESCUENTOS NOMINA']) / row['TOTAL INGRESOS']

    # Imputación según los rangos especificados y manejo de valores negativos o en el rango de 0% a 9%
    if resultado < 0 or 0 <= resultado < 0.10:
        return 5
    elif 0.10 <= resultado < 0.30:
        return 4
    elif 0.30 <= resultado < 0.40:
        return 3
    elif 0.40 <= resultado < 0.50:
        return 2
    elif resultado >= 0.50:
        return 1

# Aplicando la función y creando la columna CAPACIDAD DE DESCUENTO
df['CAPACIDAD DE DESCUENTO'] = df.apply(calcular_capacidad_de_descuento, axis=1)

In [93]:
#validando el resultado del calculo e imputacion
df["CAPACIDAD DE DESCUENTO"].value_counts()

3    487
4    436
2    295
5    172
1      8
Name: CAPACIDAD DE DESCUENTO, dtype: int64

In [94]:
#calculando la variable Razon Gastos Totales

def calcular_razon_gastos_totales(row):
    # Verificar si TOTAL INGRESOS es cero para evitar división por cero
    if row['TOTAL INGRESOS'] == 0:
        return 5  # imputar 5 en caso de división por cero

    resultado = (row['CUOTA_TOTAL_CIFIN'] + row['TOTAL GASTOS'] + row['DESCUENTOS NOMINA']) / row['TOTAL INGRESOS']

    # Imputación según los rangos especificados
    if resultado < 0 or 0 <= resultado < 0.40:
        return 1
    elif 0.40 <= resultado < 0.70:
        return 2
    elif 0.70 <= resultado < 0.80:
        return 3
    elif 0.80 <= resultado < 0.90:
        return 4
    elif resultado >= 0.90:
        return 5

# Aplicando la función y creando la columna RAZON GASTOS TOTALES
df['RAZON GASTOS TOTALES'] = df.apply(calcular_razon_gastos_totales, axis=1)

In [95]:
#se valida el resultado
df["RAZON GASTOS TOTALES"].value_counts()

5    648
2    400
4    166
3    162
1     22
Name: RAZON GASTOS TOTALES, dtype: int64

In [96]:
#Calculando la columan Razon gastos financieros

def calcular_razon_gastos_financieros(row):
    # Verificar si TOTAL INGRESOS es cero para evitar división por cero
    if row['TOTAL INGRESOS'] == 0:
        return 5  # imputar 5 en caso de división por cero

    resultado = ((row['CUOTA_TOTAL_CIFIN'] + row['CUOTA_SOLICITUD'] - row['CUOTA_MES_COMPRADA']) / row['TOTAL INGRESOS']) * 100  # Convertir a porcentaje

    # Imputación según los rangos especificados
    if 0 <= resultado < 21:  # Ajuste aquí
        return 1
    elif 21 <= resultado < 31:  # Ajuste aquí
        return 2
    elif 31 <= resultado < 41:  # Ajuste aquí
        return 3
    elif 41 <= resultado < 51:  # Ajuste aquí
        return 4
    elif resultado >= 51:  # Ajuste aquí
        return 5

# Aplicando la función y creando la columna RAZON GASTOS FINANCIEROS
df['RAZON GASTOS FINANCIEROS'] = df.apply(calcular_razon_gastos_financieros, axis=1)

In [97]:
#validamos el resultado
df["RAZON GASTOS FINANCIEROS"].value_counts()

5.0    561
1.0    248
2.0    205
3.0    194
4.0    188
Name: RAZON GASTOS FINANCIEROS, dtype: int64

In [98]:
#calcular e imputar la columna Razon Endeudamiento Total

def calcular_razon_endeudamiento_total(row):
    # Verificar si TOTAL ACTIVO es cero para evitar división por cero
    if row['TOTAL ACTIVO'] == 0:
        return 5  # imputar 5 en caso de división por cero

    resultado = ((row['SALDO_TOTAL_CIFIN'] + row['MONTO_SOLICITADO']) / row['TOTAL ACTIVO']) * 100  # Convertir a porcentaje

    # Imputación según los rangos especificados
    if 0 <= resultado < 71:  # Ajuste aquí
        return 1
    elif 71 <= resultado < 81:  # Ajuste aquí
        return 2
    elif 81 <= resultado < 91:  # Ajuste aquí
        return 3
    elif 91 <= resultado < 101:  # Ajuste aquí
        return 4
    elif resultado >= 101:  # Ajuste aquí
        return 5

# Aplicando la función y creando la columna RAZON ENDEUDAMIENTO TOTAL
df['RAZON ENDEUDAMIENTO TOTAL'] = df.apply(calcular_razon_endeudamiento_total, axis=1)

In [99]:
#revisar el resultado
df["RAZON ENDEUDAMIENTO TOTAL"].value_counts()

5    950
1    365
2     38
3     25
4     20
Name: RAZON ENDEUDAMIENTO TOTAL, dtype: int64

ELIMINACIÓN DE COLUMNAS y REGISTROS NO REPRESENTANTES PARA EL MODELO

In [100]:
#Eliminar los registros con condicion cero

# Asumiendo que df es tu DataFrame
valores_permitidos = ["APROBADO", "NEGADO"]
df_filtrado = df[df['APROBADO-DESEMBOLSADO'].isin(valores_permitidos)]

# Si deseas modificar el DataFrame original en lugar de crear uno nuevo, puedes hacer lo siguiente:
df = df[df['APROBADO-DESEMBOLSADO'].isin(valores_permitidos)]

In [101]:
df["APROBADO-DESEMBOLSADO"].value_counts()

NEGADO      567
APROBADO    488
Name: APROBADO-DESEMBOLSADO, dtype: int64

In [102]:
# Define un diccionario de mapeo de reemplazo para la columna APROBADO _ NEGADO
mapeo_reemplazo = {
    "APROBADO": 1,#Se deja 1 como valor para representar aprobacion
    "NEGADO": 0 #se deja cero como valor para representar negacion
    }

# Convierte todos los valores de la columna a mayúsculas
df["APROBADO-DESEMBOLSADO"] = df["APROBADO-DESEMBOLSADO"].str.upper()

# Utiliza el método replace con el diccionario de mapeo
df["APROBADO-DESEMBOLSADO"] = df["APROBADO-DESEMBOLSADO"].replace(mapeo_reemplazo)

In [103]:
#validamos el resultado de la imputacion de los datos
df["APROBADO-DESEMBOLSADO"].value_counts()

0    567
1    488
Name: APROBADO-DESEMBOLSADO, dtype: int64

In [104]:
#Codigo para quitar las columnas que no van a hacer parte del archivo con las columnas del modelo
#se crea una lista con los nombres de las columnas a eliminar

columnas_a_eliminar = ['N°', 'NUMERO IDENTIFICACION', 'IDENTIFICACION',
       'NOMBRES APELLIDOS', 'FECHA', 'FECHA NACIMIENTO',
       'DEPARTAMENTO NACIMIENTO','CIUDAD_RESIDENCIA', 'PROFESION',
       'INICIO ACTIVIDAD ECONOMICA', 'NOMBRE_EMPRESA', 'CANTIDAD_PRODUCTOS_CIFN',
       'VALOR_INICIAL_TOTAL', 'CANTIDAD_TDC_CIFIN', 'CUPO_TDC_MILES', 'SALDO_TDC_MILES',
       'CUOTA_TDC_MILES', 'CLEAR_SCORE_EXPERIENCIA', 'SALDO_CODEUDOR_CIFIN', 'VALOR_INICIAL_CODEUROR',
       'VALOR_CUOTA_CODEUDOR', 'LINEA_CREDITO_SOLICITUD',
       'COMPRA CARTERA', 'SALDO_INICIAL_COMPRADA', 'MONTO COMPRA',
       'DESTINACION_CREDITO', 'TIPO_GARANTIA',
       'VALOR_GARANTIA', 'COBERTURA_GARANTIA_%','OBLIGACIONES FINANCIERAS',
       'OTROS PASIVOS', 'TOTAL PASIVO', 'PATRIMONIO','INGRESOS ACT ECONOMICA',
       'INGRESO_COMISIONES', 'OTROS INGRESOS', 'PAGO DEUDAS',
       'ARRENDAMIENTOS', 'OTROS GASTOS',
       'FECHA VINCULACION UNIMOS', 'SALDO_APORTES', 'SALDO_AH_PERMANENTE',
       'SALDO_AH_CONTRACTUAL', 'SALDO_CDAT', 'SALDO_CUPO_ROTATIVO',
       'SALDO_CREDITO_UNIMOS', 'CANTIDAD_PROD_MORA_CIFN', 'VALOR_MORA',
       'SALDO_MORA_CIFIN', 'CUOTA_MORA_CIFIN', 'CANT_MORA_CODEUDOR',
       'SALDO_MORA_CODEUDOR', 'CUOTA_MORA_CODEUDOR', 'CRED_DES_DUPL',
       'VALOR_APORTES_VENCIDOS', 'ALIVIO_FINANCIERO',
       'NIT','NEGADO','SOLICITANTE','OCUPACION','ESTADO CIVIL',
      'ESTRATO','VEHICULOS','INMUEBLES','OTROS ACTIVOS',
       'TOTAL GASTOS', 'DESCUENTOS NOMINA','TOTAL INGRESOS',
       'CUOTA_TOTAL_CIFIN','CUOTA_MES_COMPRADA','CUOTA_SOLICITUD','TOTAL ACTIVO',
                       'MONTO_SOLICITADO','SALDO_TOTAL_CIFIN']


# Eliminando las columnas especificadas directamente del DataFrame original
df.drop(columnas_a_eliminar, axis=1, inplace=True)

In [105]:
#revisamos como quedo el dataframe
df.head(1)

,Id,EDAD,NIVEL EDUCATIVO,TIPO VIVIENDA,TIPO CONTRATO,ANTIGUEDAD,PERSONAS A CARGO,CLEAR_SCORE,RESULTADO_PRESICION,TIPO_CREDITO,PLAZO_SOLICITADO_MESES,MORA_VIGENTE,TIPO RIESGO FINAL,Perfil de Riesgo Score 01 de Agosto,APROBADO-DESEMBOLSADO,Valor Desembolsado,ANTIGUEDAD EN UNIMOS,CAPACIDAD DE PAGO,CAPACIDAD DE DESCUENTO,RAZON GASTOS TOTALES,RAZON GASTOS FINANCIEROS,RAZON ENDEUDAMIENTO TOTAL
0,8028,4,2,5,2,5,1,831,1,2,1,1,medio,Medio Bajo,1,4800000,3,5,5,5,5.0,5

In [106]:
#Cargar los datos del dataframe actual a un archivo de excel para luego descargar el file

nombre_del_archivo = 'Base_para_el_modelo.xlsx'

#Utiliza la función to_excel() para exportar el DataFrame a Excel
df.to_excel(nombre_del_archivo, index=False)  # El argumento index=False evita incluir el índice en el archivo